extends layout

block content
        label.control-label Server Secret 
        input(type="text",name="serversecret",value=serversecret,readonly).form-control
        label.control-label Time Created 
        input(type="text",name="timeCreated",value=timeCreated,readonly).form-control
