extends layout


block content
  form(name="ClientDetails", method="post", action="/login/final",_csrf=csrf)
        div.form-group.col-xs-3
                label.control-label Username
                input(type="text",name="username",value=username,readonly).form-control
                span(class="hint")
        div.form-group.col-xs-3
                label.control-label Client-Code
                input(type="text", name="clientcode", autofocus, autocomplete="off",required).form-control
                span(class="hint")
                  | If the plugin can verify the server's OTP
                  br
                  | then the user can input the generated client TOTP:
                  br
                  br
                  | trunc(HMAC(client-secret,time-period))
        div.form-group.col-xs-3
                label.control-label Password
                input(type="password", name="password",autocomplete="off",required).form-control
                span(class="hint")
                  | username: user1, password: foobar
                  br
                  | username: user2, password: password1

                input(type="hidden", name="_csrf",value=csrf)
                input(type="submit", value="Confirm").btn.btn-primary.pull-right
